[submodule "aeneproduce"]
	path = aeneproduce
	url = git@git.vauxoo.com:vauxoo/aeneproduce.git
	branch = 13.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 13.0
